@import '@/lib/reset.scss';

html, body, #root, .container {
  @include rect(100%,100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flexbox();
    @include flex();
    @include rect(100%,auto);
    @include flex-direction(column);
    .header {
      @include rect(100%,0.44rem);
      background: #f66;
    }
    .content {
      @include flex();  
      @include rect(100%,auto);
      overflow: auto;
    }
  }
  .footer {
    @include rect(100%,0.5rem);
    background: #ccc;
    ul {
      @include rect(100%,100%);
      @include flexbox();
      a {
        @include flex();
        @include flexbox();
        @include rect(auto,100%);
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        color: #333;
        &.active {
          color: #f66;
        }
      }
    }
  }
}